.container {
  text-align: center;
  position: relative;
}

body {
  background-image: url("../images/reviewapp-background.jpg");
  background-size: cover;
}

.homepub-background {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.box-container {
  background-color: aliceblue;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.login-button {
  border: 1px solid black;
  padding: 10px;
}
